.projects-filter {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0.04em;
    left: 0;
    background: var(--cl-text);
    height: 2.5px;
    width: 100%;
  }
}
