@use "../abstracts/mixins" as *;
@use "../base/type";

@property --cursor-scale {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.hover-cursor {
  @extend .text-link;
  @include flex($justify: center, $align: center);
  --cursor-scale: 0;
  opacity: 0;
  position: fixed;
  top: -9999px;
  left: -9999px;
  z-index: 999;
  transform: translate(-50%, -50%) scale(var(--cursor-scale));
  will-change: transform;
  pointer-events: none;
  transition: --cursor-scale 0.4s ease;

  padding: var(--pd-small);
  // max-width: fit-content;
  width: 7ch;
  background-color: var(--cl-background);
  color: var(--cl-text);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  mix-blend-mode: difference;

  span {
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2.5px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s ease;
    }
  }
  &.active {
    --cursor-scale: 1;
    span::after {
      transform: scaleX(1);
    }
  }
}
