@use "../abstracts/mixins" as *;
.nav-fixed {
  position: fixed;
  width: 100%;
  inset: 0;
  @include flex($justify: space-between);
  padding: var(--pd-main);
  background: transparent;
  z-index: 999;
  transform: translateZ(0);
  pointer-events: none;
  mix-blend-mode: difference;
  a {
    color: var(--cl-background);
    pointer-events: auto;
  }
}

// UNDERLINE
nav a {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--cl-background);
    height: 2.5px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.nav-top {
  width: 100%;
  .nav-email {
    text-align: right;
    margin-left: auto;
  }
  @include flex(row, 0, space-between);
}

.nav-bottom {
  width: 100%;
  @include flex(row, $justify: space-between);

  // align "to top" link to right
  > li:nth-child(3) {
    text-align: right;
  }

  // align "project navigation" to center
  .nav-projects {
    @include flex(row, var(--gap-xxs), center);
  }
}

#scrollToTop {
  opacity: 0;
  pointer-events: none;
  transform: translateY(1rem);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  &.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
