@use "../abstracts/mixins" as *;
@use "../base/type";

.project-card {
  cursor: none;
  @include grid__item--span(1);
  @include flex($gap: var(--gap-xxs), $justify: end);
  position: relative;
  transition:
    color 0.3s ease,
    transform 0.3s ease,
    outline 0.3s ease;

  // HOVER EFFECT
  &::after {
    content: "";
    position: absolute;
    height: 105%;
    width: 105%;
    top: -2.5%;
    left: -2.5%;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    background: var(--cl-text);
    transition: opacity 0.3s ease;
  }
  &:hover {
    color: var(--cl-background);
    transform: scale(1.05);
    z-index: 99;
    &::after {
      opacity: 1;
    }
  }
}

.project-name {
  @include flex($gap: var(--gap-xxs));
}
.project-type {
  @extend .text-tag;
}

.project-image {
  aspect-ratio: 16 / 10;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
