@use '../abstracts/mixins' as *;
.video-wrapper {
  position: relative;
  @include grid(1);
  grid-template-rows: 1fr;
  cursor: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
}
.video-thumbnail {
  z-index: 1;
  pointer-events: none;
  @include grid__item(1, -1, 1, 2);
  @include responsive(small) {
    align-self: center;
  }
}
mux-video {
  display: block;
  @include grid__item(1, -1, 1, 2);
}

// PLAY BUTTON ON TOUCH SCREEN
.video-play-btn {
  position: absolute;
  z-index: 10;
  inset: 0;
  margin: auto;
  width: 0;
  height: 0;
  opacity: 0;
  border-style: solid;
  border-width: 2.4rem 0 2.4rem 3.8rem;
  border-color: transparent transparent transparent var(--cl-background);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

@media (hover: none) and (pointer: coarse) {
  .video-play-btn {
    opacity: 1;
  }
  .video-wrapper::after {
    opacity: 1;
  }
  .video-wrapper.playing {
    &::after {
      opacity: 0;
    }
  }

  :global(.video-wrapper.playing .video-play-btn) {
    opacity: 0;
    display: none;
  }
}
