@use 'sass:map';
@use './breakpoints' as *;

// GRID
@mixin grid(
  $columns: 9,
  $gap: var(--grid-gap),
  $align: stretch,
  $justify: start,
  $minmax: null
) {
  display: grid;
  @if $minmax == null {
    grid-template-columns: repeat($columns, 1fr);
  } @else {
    grid-template-columns: repeat(auto-fit, $minmax);
  }
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
  @include responsive(medium) {
  }
}

@mixin grid__item(
  $col-start: 1,
  $col-end: -1,
  $row-start: auto,
  $row-end: auto
) {
  grid-column: #{$col-start} / #{$col-end};
  @if ($row-start != auto or $row-end != auto) {
    grid-row: #{$row-start} / #{$row-end};
  }
}

@mixin grid__item--span($col-span: 1, $row-span: 1) {
  grid-column: span #{$col-span};
  grid-row: span #{$row-span};
}

// FLEX
@mixin flex(
  $direction: column,
  $gap: var(--gap-s),
  $justify: start,
  $align: stretch
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

// REPONSIVE
@mixin responsive($size) {
  $value: map.get($breakpoints, $size);
  @media (max-width: #{$value}) {
    @content;
  }
}

// UNDERLINE LINK
@mixin underline($thickness: 0.08em) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: currentColor;
    height: $thickness;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
  @media (hover: none) and (pointer: coarse) {
    transition: transform 0.15s ease;
  }
}

// TRIM TEXT
@mixin trim($type) {
  display: flow-root;
  position: relative;

  &::before,
  &::after {
    content: '';
    height: 0;
    overflow: visible;
    pointer-events: none;
    display: block;
  }

  @if ($type == sans) {
    &::before {
      margin-bottom: calc(-0.5lh + 0.34em);
    }
    &::after {
      margin-bottom: calc(-0.5lh + 0.39em);
    }
  }

  @if ($type == serif) {
    &::before {
      margin-bottom: calc(-0.5lh + 0.39em);
    }
    &::after {
      margin-bottom: calc(-0.5lh + 0.34em);
    }
  }
}
