$spacing: (
  xxxs: 0.25rem,
  xxs: 0.5rem,
  xs: 1rem,
  s: 1.5rem,
  m: 3rem,
  l: 5rem,
);

$font-size: (
  // 375 - 1920
  heading-large: clamp(5rem, calc(13.4628vw + 1.8447rem), 18rem),
  // 375 - 1920
  intro: clamp(1.5rem, calc(2.589vw + 0.8932rem), 4rem),
  heading: clamp(2rem, calc(2.0712vw + 1.5146rem), 4rem),
  subheading: 1.25rem,
  // 375 - 1920
  // link: clamp(1rem, calc(1.5534vw + 0.6359rem), 2.5rem),
  link: clamp(1rem, calc(1.2945vw + 0.6966rem), 2.25rem),
  body: clamp(1rem, calc(0.3883vw + 0.909rem), 1.375rem),
  caption: 1rem
);

$colour-light: #fff;
$colour-dark: #000;

$underline: (
  s: 1px,
  m: 2.5px,
);
