$spacing: (
  xxs: 0.5rem,
  xs: 1rem,
  s: 1.5rem,
  m: 3rem,
);

$spacing-xxs: 0.5rem;
$spacing-xs: 1rem;
$spacing-s: 1.5rem;
$spacing-m: 3rem;

$font-size: (
  heading-large: 14rem,
  intro: 3.6rem,
  heading: 3.5rem,
  subheading: 1.25rem,
  link: 2rem,
  body: 1.25rem,
  caption: 1rem,
);

$colour-light: #fff;
$colour-dark: #000;
