---
import { client } from '../lib/sanity';
import type { Project } from '../lib/types';
import BaseLayout from '../layouts/BaseLayout.astro';
import NavTop from '../components/NavTop.astro';
import NavBottom from '../components/NavBottom.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Footer from '../components/Footer.astro';

const query = `*[_type == "project"] |  order(title asc) | order(rating desc) {
  title,
  slug,
  projectType,
  thumbnail
}`;
const projects = await client.fetch<Project[]>(query);
---

<style lang='scss'>
	@use '../styles/abstracts/mixins' as *;
	header {
		@include grid();
		p {
			@include grid__item(1, 9);
			text-wrap: balance;
		}
	}
	.projects {
		@include grid();
		h1 {
			@include grid__item(3, -1);
		}
		.projects__grid {
			@include grid__item(4, -1);
			@include grid(2);
		}
	}
</style>

<BaseLayout title='Sean Do — Portfolio'>
	<NavTop />
	<NavBottom />
	<header>
		<p class='text-intro'>
			Sean Do <i>*pronounced dough*</i> is a <span class='projects-filter'>graphic designer</span>, <span
				class='projects-filter'>type designer</span
			> and <span class='projects-filter'>web developer</span>. His practice often explores the intersection of print
			and digital environments, considering how type and editorial design adapt and translate across
			different&nbsp;mediums.
		</p>
	</header>
	<main class='projects'>
		<h1>Works</h1>
		<div class='projects__grid'>
			{
				projects.map(project => (
					<ProjectCard
						title={project.title}
						slug={project.slug}
						projectType={project.projectType}
						thumbnail={project.thumbnail}
					/>
				))
			}
		</div>
	</main>
	<Footer />
</BaseLayout>
