---
import LocalClock from './LocalClock.astro';
---

<style lang="scss">
	@use '../styles/components/footer';
	.hidden {
		white-space: nowrap;
	}
</style>

<footer class="footer">
	<p class="footer__name text-heading-large">SEAN DO</p>
	<p class="footer__copyright text-tag"><i>©️ 2025 | all rights reserved</i></p>
	<LocalClock />
	<nav class="footer__nav">
		<a class="hidden" aria-hidden="true">(ARCHIVE)</a>
		<a href="https://www.instagram.com/seando.design/">(INSTAGRAM)</a>
		<a class="hidden" aria-hidden="true">(TO TOP)</a>
	</nav>
</footer>
