---
const { text } = Astro.props;
---

<style lang='scss'>
	@use '../styles/components/hover-cursor';
</style>

<div class='hover-cursor'><span>{text}</span></div>

<script>
	const hoverCursor = document.querySelector('.hover-cursor') as HTMLElement | null;
	function handleMouseMove(event: MouseEvent) {
		if (!hoverCursor) return;
		hoverCursor.style.left = `${event.clientX}px`;
		hoverCursor.style.top = `${event.clientY}px`;
	}

	const hoverTargets = document.querySelectorAll('.project-card, mux-video, .video-thumbnail');
	hoverTargets.forEach(target => {
		target.addEventListener('mouseenter', () => {
			hoverCursor!.style.opacity = '1';
			hoverCursor!.classList.add('active');
			document.addEventListener('mousemove', handleMouseMove);
		});
		target.addEventListener('mouseleave', () => {
			hoverCursor!.style.opacity = '0';
			hoverCursor!.classList.remove('active');
			document.addEventListener('mousemove', handleMouseMove);
		});
	});
</script>
