---
interface Props {
	text: string;
	target: string;
}
const { text, target } = Astro.props;
---

<style lang="scss">
	@use '../styles/components/hover-cursor';
</style>

<div class="hover-cursor" data-target={target}><span>{text}</span></div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const hoverCursors = document.querySelectorAll('.hover-cursor') as NodeListOf<HTMLElement>;
		if (!hoverCursors.length) return;

		hoverCursors.forEach(hoverCursor => {
			const targetProp = hoverCursor.dataset.target;
			if (!targetProp) return;

			const hoverTargets = document.querySelectorAll(targetProp) as NodeListOf<HTMLElement>;
			if (!hoverTargets.length) return;

			function handleMouseMove(event: MouseEvent) {
				hoverCursor.style.left = `${event.clientX}px`;
				hoverCursor.style.top = `${event.clientY}px`;
			}

			hoverTargets.forEach(target => {
				target.style.cursor = 'none';
				target.addEventListener('mouseenter', () => {
					hoverCursor.style.opacity = '1';
					hoverCursor.classList.add('active');
					document.addEventListener('mousemove', handleMouseMove);
				});
				target.addEventListener('mouseleave', () => {
					hoverCursor.style.opacity = '0';
					hoverCursor.classList.remove('active');
					document.removeEventListener('mousemove', handleMouseMove);
				});
			});
		});
	});
</script>
