---
const path = Astro.url.pathname;
---

<style lang='scss'>
	@use '../styles/abstracts/mixins' as *;
	.nav-top {
		width: 100%;
		padding: var(--pd-main);
		inset: 0;
		.nav-email {
			text-align: right;
			margin-left: auto;
		}
		ul {
			@include flex(row, 0, space-between);
		}
	}
</style>

<nav class='nav-fixed nav-top'>
	<ul>
		{
			path !== '/' && (
				<li>
					<a href='/'>(SEAN DO)</a>
				</li>
			)
		}

		<li class='nav-email'>
			<a href='mailto:seando.design@gmail.com'>(EMAIL)</a>
		</li>
	</ul>
</nav>
