---
import type { Project } from '../lib/types';
import { urlFor } from '../lib/sanity';
export interface Props extends Project {}

const { title, slug, projectType, thumbnail } = Astro.props;
---

<style lang='scss'>
	@use '../styles/components/project-card';
</style>
<a class='project-card' href={'/project/' + slug.current}>
	<div class='project-name'>
		<h2>
			{title}
		</h2>
		<p class='project-type'><i>{projectType.join(' + ')}</i></p>
	</div>
	<div class='project-image'>
		<img src={urlFor(thumbnail).url()} alt={title + 'thumbnail image'} />
	</div>
</a>
