---
import type { Project } from '../lib/types';
import { urlFor } from '../lib/sanity';
export interface Props extends Project {}

const { title, slug, projectType, thumbnail } = Astro.props;
---

<style lang='scss'>
	@use '../styles/abstracts/mixins' as *;
	@use '../styles/base/type' as *;
	.project-card {
		@include grid__item--span(1);
		@include flex($gap: var(--gap-xxs));
	}
	.project-type {
		@extend .text-tag;
	}
	.image-container {
		aspect-ratio: 16 / 10;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
</style>
<a class='project-card' href={'/project/' + slug.current}>
	<h2>
		{title}
	</h2>
	<p class='project-type'><i>{projectType.join(' + ')}</i></p>
	<div class='image-container'>
		<img src={urlFor(thumbnail).url()} alt={title + 'thumbnail image'} />
	</div>
</a>
