---
interface Props {
	title: string;
	playbackId: string;
	thumbnail?: string;
}
const { title, playbackId, thumbnail } = Astro.props;
---

<script>
	import '@mux/mux-video';
	window.addEventListener('DOMContentLoaded', () => {
		const videoWrappers = document.querySelectorAll<HTMLElement>('.video-wrapper');
		const cursorText = document.querySelector('.hover-cursor[data-target=".video-wrapper"] span') as HTMLElement | null;

		if (!videoWrappers.length || !cursorText) return;

		videoWrappers.forEach(wrapper => {
			const video = wrapper.querySelector('mux-video') as HTMLVideoElement | null;
			if (!video) return;
			const thumbnail = wrapper.querySelector('.video-thumbnail') as HTMLImageElement | null;
			const playButton = wrapper.querySelector('.video-play-btn') as HTMLElement | null;

			const updateCursorText = () => {
				cursorText.textContent = video.paused ? '(PLAY)' : '(PAUSE)';
			};

			const hidePlayButton = () => {
				wrapper.classList.add('playing');
			};

			const showPlayButton = () => {
				wrapper.classList.remove('playing');
			};

			wrapper.addEventListener('click', () => {
				if (thumbnail && thumbnail.style.display !== 'none') {
					thumbnail.style.display = 'none';
				}
				if (video.paused) {
					video.play();
				} else {
					video.pause();
				}
			});

			video.addEventListener('play', () => {
				hidePlayButton();
				updateCursorText();
			});
			video.addEventListener('pause', () => {
				showPlayButton();
				updateCursorText();
			});
		});
	});
</script>

<style lang="scss">
	@use '../styles/components/video';
</style>

<div class="video-play-btn"></div>
{thumbnail && <img class="video-thumbnail" src={thumbnail} alt={title + ' thumbnail'} />}
<mux-video playsinline playback-id={playbackId} metadata-video-title={title}></mux-video>
