@use '../abstracts/mixins' as *;
.archive-heading {
  @include grid;
  h1 {
    @include grid__item(2);
  }
}
.archive-grid {
  @include grid(3);
  @include responsive(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include responsive(small) {
    grid-template-columns: 1fr;
  }

  .archive-item--oneThird {
    @include grid__item--span(1);
  }
  .archive-item--twoThirds {
    @include grid__item--span(2);
    @include responsive(small) {
      grid-column: span 1;
    }
  }
  .archive-item--full {
    @include grid__item();
  }
}
