@use '../abstracts/mixins' as *;
.archive-heading {
  @include grid;
  row-gap: var(--gap-m);
  h1 {
    @include grid__item(2, -1);
  }
  p {
    @include grid__item(5, 8);
    @include responsive(small) {
      grid-column: 3 / -1;
    }
  }
}
.archive-grid {
  @include grid(3);
  grid-auto-flow: dense;
  img {
    height: 100%;
  }
  @include responsive(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include responsive(small) {
    grid-template-columns: 1fr;
  }

  .archive-item--oneThird {
    @include grid__item--span(1);
  }
  .archive-item--twoThirds {
    @include grid__item--span(2);
    @include responsive(small) {
      grid-column: span 1;
      aspect-ratio: 1 / 1;
      background-color: var(--cl-text);
    }
  }
  .archive-item--full {
    @include grid__item();
  }

  .archive-item--sensitive {
    position: relative;
  }
}
