@use '../abstracts/mixins' as *;

header {
  @include grid();
  p {
    @include grid__item(1, 9);
    text-wrap: balance;
  }
}
.projects {
  @include grid();
  row-gap: var(--gap-m);
  @include responsive(medium) {
    row-gap: var(--gap-s);
  }
  h1 {
    @include grid__item(3, -1);
    @include responsive('medium') {
      grid-column-start: 2;
    }
  }
  .projects__grid {
    @include grid__item(4, -1);
    @include grid($minmax: minmax(400px, 1fr));
    row-gap: var(--gap-m);
    @include responsive(medium) {
      grid-column-start: 3;
      row-gap: var(--gap-s);
    }
    @include responsive(small) {
      grid-template-columns: 1fr;
      grid-column-start: 1;
    }
  }
}
