@use "../abstracts/mixins" as *;
@use "./type" as *;

html,
body {
  background: var(--cl-background);
  isolation: isolate;
}

body {
  @include flex($gap: var(--gap-m), $align: center);
}

header,
section,
main {
  padding: var(--pd-main);
  width: min(100%, 1920px);
}

footer {
  padding: var(--pd-main);
  min-width: 100%;
}

h1 {
  @extend .text-heading;
}

h2 {
  @extend .text-subheading;
}

p {
  @extend .text-body;
}

nav a {
  @extend .text-link;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--cl-text);
  pointer-events: auto;
  cursor: pointer;
}
