@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";

:root {
  // PADDING
  --pd-main: #{map.get($spacing, s)};
  --pd-small: #{map.get($spacing, xxs)};

  @each $name, $value in $spacing {
    --gap-#{$name}: #{$value};
  }

  // FONT SIZES
  @each $name, $value in $font-size {
    --fs-#{$name}: #{$value};
  }

  // COLOURS
  --cl-text: #{$colour-dark};
  --cl-background: #{$colour-light};
}

@include responsive(medium) {
  :root {
    --pd-main: #{map.get($spacing, xs)};
  }
}
