@use "../abstracts/mixins" as *;

@mixin text-sans($fs) {
  font-family: "General Sans", sans-serif;
  font-size: $fs;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
  @include trim(sans);
}

@mixin text-serif($fs: var(--fs-body), $weight: 400) {
  font-family: "Herbik", serif;
  font-size: $fs;
  font-weight: $weight;
  letter-spacing: -0.01em;
  @include trim(serif);
}

.text-intro {
  @include text-serif(var(--fs-intro));
  line-height: 1.05;
}

.text-heading-large {
  @include text-sans(var(--fs-heading-large));
  letter-spacing: -0.05em;
  line-height: 0.8;
}

.text-heading {
  @include text-sans(var(--fs-heading));
  letter-spacing: -0.02em;
  line-height: 1;
}

.text-subheading {
  @include text-sans(var(--fs-subheading));
}

.text-body {
  @include text-serif(var(--fs-body));
  line-height: 1.2;
}

.text-link {
  @include text-sans(var(--fs-link));
}

.text-tag {
  @include text-serif(var(--fs-tag), 500);
  text-transform: capitalize;
}

.text-tag-large {
  @include text-serif(var(--fs-body), 500);
  text-transform: capitalize;
}
